:host {
  display: block;
}

/* PrimeNG table skinning */
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  border: 0;
  border-bottom: 1px solid #edf1f6;
  background: #f8fafc;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  border: 0;
  border-bottom: 1px solid #edf1f6;
  background: #ffffff;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:last-child > td {
  border-bottom: 0;
}

:host ::ng-deep .p-datatable table {
  width: 100%;
  border-collapse: collapse;
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  color: #000 !important;
}
