:host {
  display: block;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  border: 0;
  border-bottom: 1px solid #edf2f7;
  background: #ffffff;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  border: 0;
  border-bottom: 1px solid #edf2f7;
  background: #ffffff;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:last-child > td {
  border-bottom: 0;
}

:host ::ng-deep .p-datatable table {
  width: 100%;
  border-collapse: collapse;
}
