<div
  class="rounded-[18px] border border-[#dde5ef] bg-white p-6 shadow-[0_1px_2px_rgba(16,24,40,0.04)]"
>
  <div class="mb-6 flex items-center gap-3">
    <div class="flex h-8 w-8 items-center justify-center rounded-lg bg-[#eef4ff] text-[#2f6bff]">
      <i class="pi pi-info-circle text-[14px]"></i>
    </div>
    <h2 class="text-[16px] font-semibold text-[#101828]">Basic Information</h2>
  </div>

  <form [formGroup]="form" class="space-y-5">
    <div>
      <label class="mb-2 block text-[10px] font-semibold uppercase tracking-widest text-[#7b8aa0]">
        Product Name
      </label>
      <input
        type="text"
        formControlName="productName"
        class="h-11.5 w-full rounded-[10px] border border-[#eaecf0] bg-[#f8fafc] px-4 text-[14px] text-[#101828] outline-none focus:border-[#2f6bff] focus:bg-white"
      />
    </div>

    <div>
      <label class="mb-2 block text-[10px] font-semibold uppercase tracking-widest text-[#7b8aa0]">
        Description
      </label>
      <textarea
        formControlName="description"
        rows="5"
        class="w-full rounded-[10px] border border-[#eaecf0] bg-[#f8fafc] px-4 py-3 text-[14px] leading-6 text-[#344054] outline-none focus:border-[#2f6bff] focus:bg-white"
      ></textarea>
    </div>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
      <div>
        <label
          class="mb-2 block text-[10px] font-semibold uppercase tracking-widest text-[#7b8aa0]"
        >
          Category
        </label>

        <p-select
          formControlName="category"
          [options]="categories"
          optionLabel="label"
          optionValue="value"
          appendTo="body"
          class="w-full edit-page-select"
        ></p-select>
      </div>

      <div>
        <label
          class="mb-2 block text-[10px] font-semibold uppercase tracking-widest text-[#7b8aa0]"
        >
          Price (EGP)
        </label>

        <div class="relative">
          <input
            type="number"
            formControlName="price"
            class="h-11.5 w-full rounded-[10px] border border-[#eaecf0] bg-[#f8fafc] px-4 pr-14 text-[14px] text-[#101828] outline-none focus:border-[#2f6bff] focus:bg-white"
          />
          <span
            class="pointer-events-none absolute right-4 top-1/2 -translate-y-1/2 text-[11px] font-medium text-[#98a2b3]"
          >
            EGP
          </span>
        </div>
      </div>

      <div>
        <label
          class="mb-2 block text-[10px] font-semibold uppercase tracking-widest text-[#7b8aa0]"
        >
          Stock
        </label>
        <input
          type="number"
          formControlName="stock"
          class="h-11.5 w-full rounded-[10px] border border-[#eaecf0] bg-[#f8fafc] px-4 text-[14px] text-[#101828] outline-none focus:border-[#2f6bff] focus:bg-white"
        />
      </div>
    </div>
  </form>
</div>
