<p-select
  [options]="selectableColorOptions"
  [ngModel]="value"
  [disabled]="isDisabled"
  [placeholder]="placeholder"
  optionLabel="name"
  optionValue="name"
  appendTo="body"
  panelStyleClass="product-color-panel"
  [optionDisabled]="'disabled'"
  class="w-full product-color-select"
  [class.product-color-select-invalid]="invalid"
  (ngModelChange)="onValueChange($event)"
>
  <ng-template pTemplate="selectedItem" let-selectedColor>
    @if (selectedColor) {
      <div class="flex items-center gap-2">
        <span
          class="h-3 w-3 rounded-full"
          [style.backgroundColor]="selectedColor.hex"
          [style.boxShadow]="selectedColor.hex === '#FFFFFF' ? 'inset 0 0 0 1px #94a3b8' : null"
        ></span>
        <span>{{ selectedColor.name }}</span>
      </div>
    } @else {
      <span class="text-[#98a2b3]">{{ placeholder }}</span>
    }
  </ng-template>

  <ng-template pTemplate="item" let-color>
    <div class="flex items-center gap-2">
      <span
        class="h-3 w-3 rounded-full"
        [style.backgroundColor]="color.hex"
        [style.boxShadow]="color.hex === '#FFFFFF' ? 'inset 0 0 0 1px #94a3b8' : null"
      ></span>
      <span>{{ color.name }}</span>
    </div>
  </ng-template>
</p-select>
